<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookManagerServlet</display-name>
    <servlet-name>BookManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManagerServlet</servlet-name>
    <url-pattern>/BookManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookClientServlet</display-name>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/BookClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <description>配置验证码生成的字符：不要使用相似的字符</description>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>天王盖地虎宝塔镇河妖</param-value>
    </init-param>
    <init-param>
      <description>验证码字符的数量</description>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <description>验证码字符的颜色</description>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>red</param-value>
    </init-param>
    <init-param>
      <description>验证码字符的字库</description>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>黑体</param-value>
    </init-param>
    <init-param>
      <description>验证码字符的间距</description>
      <param-name>kaptcha.textproducer.char.space</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <description>验证码字符的大小</description>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>30</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>com.atguigu.bookstore.servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderClientServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>TransactionFilter</display-name>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.atguigu.bookstore.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>